<div class="row">
  <div class="col-md-6">
    <input type="search " ng-model="search" placeholder="Buscar por...">
  </div>
  <div class="col-md-3">
    <a href="#/cadastroResposta/{{respostas[0].idComentario}}">Responder</a>
  </div>
</div>
<div class="row">
  <table id="" class="table table-striped">
    <thead>
      <tr>
        <th>Data Hora</th>
        <th>Respostas</th>
        <th>Responsável</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="resposta in respostas | filter:search" class="comprado-{{ resposta.comprado }}">
        <td><strong>{{ resposta.dataHora }}</strong></td>
        <td><strong>{{ resposta.resposta }}</strong></td>
        <td><strong>{{ resposta.idUsuario }}</strong></td>
        <td>
          <!--
          <a href="#/comentario/{{comentario._id}}">Acessar</a>
          -->
        </td>
      </tr>
    </tbody>
  </table>
</div>


<a href="#/topico/{{respostas[0].idTopico}}">Voltar</a>
</h1>
